.main-menu {
    display: flex;
    flex: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: var(--m-5);
    height: 10vh;
  }
  
  .menu-item {
    height: 100%;
    padding: 0 var(--p-3);
    display: flex;
    align-items: center;
    transition: all 0.1s ease-out;
    cursor: pointer;
  }
  
  .menu-item a {
    text-decoration: none;
    color: var(--white);
    font-weight: var(--font-weight-bold);
    padding: var(--p-2);
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .menu-item:hover {
    background-color: var(--white);
    color: var(--black);
  }

  .menu-item:hover a{
    color: var(--black);
  }