.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--p-5);
    background-color: var(--black);
    padding: 0 var(--p-5);
    left: 0;
    right: 0;
}

.navbar-content-spacer {
    height: 10vh;
}