.search-bar-container {
    flex: 2;
}

.search-bar-container label {
    color: var(--white);
    font-size: var(--label-size);
    font-weight: var(--font-weight-bold);
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.2);
    padding: 0 var(--p-3);
    border: none;
}

.search-bar input:focus {
    outline: none;
}


.search-bar input:hover {
    background-color: var(--black);
}

.search-bar input:focus {
    background-color: var(--black);
}

.search-bar input:active {
    background-color: var(--black);
}

.search-bar button {
    height: 2.5rem;
    color: var(--white);
    background-color: var(--secondary);
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: var(--secondary-light);
}

.search-bar button:active {
    background-color: var(--secondary-dark);
}