:root {
    --label-size: 1rem;
    --label-size-lg: 1.5rem;
    --font-family: 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
    --font-color: #000000;
    --font-color-light: #ffffff;
    --font-color-primary: #3f51b5;
    --font-color-secondary: #f50057;
    --font-color-error: #f44336;
    --font-color-warning: #ff9800;
}