@import "./theme/main.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader::after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid var(--primary);
  border-top-color: var(--primary-light);
  border-left-color: var(--primary-light);
  border-right-color: var(--primary-light);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(18deg);
  }

  10% {
    transform: rotate(36deg);
  }

  15% {
    transform: rotate(54deg);
  }

  20% {
    transform: rotate(72deg);
  }

  25% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(108deg);
  }

  35% {
    transform: rotate(126deg);
  }

  40% {
    transform: rotate(144deg);
  }

  45% {
    transform: rotate(162deg);
  }

  50% {
    transform: rotate(180deg);
  }

  55% {
    transform: rotate(198deg);
  }

  60% {
    transform: rotate(216deg);
  }

  65% {
    transform: rotate(234deg);
  }

  70% {
    transform: rotate(252deg);
  }

  75% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(288deg);
  }

  85% {
    transform: rotate(306deg);
  }

  90% {
    transform: rotate(324deg);
  }

  95% {
    transform: rotate(342deg);
  }

  100% {
    transform: rotate(360deg);
  }
}